* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    /* margin-right: 50px; */
    height: 100%;
    overflow-x: hidden;
}


/* ==== Nav Bar Styles ==== */

nav {
    padding: 10px;
    justify-self: center;
}

#navbar {
    z-index: 100000000;
    overflow: hidden;
    padding: 1rem;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    position: fixed;
    background-color: transparent;
    /* background-color: rgba(174, 210, 227, 0.1); */
    /* backdrop-filter: blur(10px); */
    /* box-shadow: 10px 20px 20px grey; Apply when scroll down. */
}

#navbar a {
    color: #dceaf2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: dotted;
    font-size: 20px;
}

#navbar-logo {
    width: auto;
    height: 50px;
    justify-self: left;
    align-self: center;
    cursor: pointer;
}

nav a {
    overflow: hidden;
    position: relative;
    display: inline-block;
}

nav a::before,
nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
}

nav a::before {
    background-color: #7ac9f0;
    height: 2px;
    bottom: 3px;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

nav a::after {
    content: attr(data-replace);
    height: 100%;
    top: 10px;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    color: #7ac9f0;
}

nav a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
}

nav a:hover::after {
    transform: translate3d(0, 0, 0);
}

nav a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
}

nav a:hover span {
    transform: translate3d(-200%, 0, 0);
}

#main-image {
    /* The image used */
    background-image: url("media/trees-aerial-view.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid #385c6e;
    line-height: 0.1em;
    margin: 10px 0 10px;
}

h2 span {
    background: #fff;
    padding: 0 20px;
}

/* ==== Image Slide Styles ==== */

.slidebar{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slider{
    width: 500%;
    height: 500px;
    display: flex;
}

.slider input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 800px;
    height: 500px;
}

/* Manual Slide */
.navigation-manual{
    position: absolute;
    width: 800px;
}

.manual-btn{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* ==== Footer Styles ==== */

footer {
    width: 100%;
    bottom: 0;
    background: transparent;
    color: black;
    padding: 100px 0 30px; /* 100px 0 30px */
    border-top-left-radius: 125px; /* 125px */   
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.ft-content {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.ft-section-logo {
    flex-basis: 25%;
    padding: 10px;
}

.logo {
    width: 80px;
    margin-bottom: 20px;
}

.phone {
    text-decoration: none;
    padding-top: 13px;
    color: black;
    font-weight: bold;
    width: fit-content;
    margin: 20px 0;
}

.email-id {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: fit-content;
    margin: 20px 0;
}

footer h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

footer ul li {
    list-style: none;
    margin-bottom: 12px;
    margin-right: 135px;
}

footer ul li a {
    text-decoration: none;
    color: white;
}

.ft-section-news form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.ft-section-news form .far {
    font-size: 18px;
    margin-right: 10px;
}

.ft-section-news form input {
    width: 100%;
    background: transparent;
    color: black;
    border: 0;
    outline: none;
}

.ft-section-news form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.ft-section-news form button .fas {
    font-size: 16px;
    color: white;
}

.fa {
    padding: 5px; /* 20px */
    font-size: 20px; /* 20% */
    width: 10%; /* 20% */
    text-align: center;
    text-decoration: none;
    margin: 5px 2px; /* 5px 2px */
    border-radius: 20%; /* 20% */
    background: transparent;
    color: white;
    cursor: pointer;
    justify-content: left;
    position: left;
}

.fa:hover {
    opacity: 0.7;
}

footer hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.ft-bottom p {
    font-weight: bold;
    text-align: center;
}